<%- include ('partials/header') %>
<body>
	<div class="wrapper">
		<div class="app">
			<form action="/logout?_method=DELETE" method="POST">
				<!--			 form action: /logout?_method=DELETE-->
				<div class="app-heading">

				</div>
				<div class="app-body">
					<p>You successfully loged in</p>
				</div>
				<div class="sign-out-container">
					<button class="sign-out-btn">Sign out</button>
				</div>
			</form>
		</div>
	</div>
</body>
</html>
